#!/usr/bin/env bash

# USAGE: source env.sh

export ALICLOUD_ACCESS_KEY="";
export ALICLOUD_SECRET_KEY="";
export ALICLOUD_REGION="";
export ALICLOUD_WORKSHOP_PREFIX="";
export ALICLOUD_DOMAIN="";

echo "Alicloud Keys exported";

env | grep ALICLOUD
